<h1>Hello ADMIN</h1>

<p><%= link_to 'TRAINS', admin_trains_path %></p>
<p><%= link_to 'Routes', admin_routes_path %></p>
<p><%= link_to 'Railway Stations', admin_railway_stations_path %></p>
<p><%= link_to 'Carriages', admin_carriages_path %></p>